
//----------------
//ELEMENTS
//----------------
.progress__bar {
    background-color: #ccc;
    @include border(skip, 0.35rem, 0);
    @extend %border-style-solid;
    @extend %display-block;
    height: 0.6rem;
    transition: 0.1s width ease; // make animation fluid
    @extend %width-0; // Set initial width to 0
}
