//BLOCK

.progress {
  border: 0.05rem solid #828282;
  border-radius: 0.3rem;
  box-sizing: content-box;
  display: block;
  height: 0.6rem;
  //overflow: hidden;
  position: relative;
  width: 100%;
}
//
//ELEMENTS

.progress__bar {
  background-color: #c3c3c3;
  border-radius: 0.3rem;
  display: block;
  height: 0.6rem;
}
//
//MODIFIERS

.progress_streampercent {
  &:after {
    content: attr(data-progress)'%';
    color: #000;
    font-size: 0.6rem;
    font-family: sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.progress_streamtext {
  &:after {
    content: attr(data-progresstext);
    color: #000;
    font-size: 0.6rem;
    font-family: sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
